:host {
  --icon-size: 2em;
  --icon-color: black;
  --background-color: #ffbb15;
}

.button {
  display: flex;
}

.button__content {
  width: 100%;
}

.button button {
  border: none;
  background: none;
  flex-grow: 0;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.button svg {
  fill: var(--icon-color);
  width: var(--icon-size);
}
