:host{
  --color-light-green: rgba(91, 200, 156, 0.3);
  --color-light-red: rgba(215, 34, 34, 0.3);
  --color-green: #5bc89c;
  --color-red: #d72222;
  --highlight-padding: 0;
}

.overlay {
  position: relative;
}

.overlay.removed {
}

.overlay__background {
  position: absolute;
  border: 2px solid var(--color-green);
  top: calc(var(--highlight-padding) * -1);
  left: calc(var(--highlight-padding) * -1);
  bottom: calc(var(--highlight-padding) * -1);
  right: calc(var(--highlight-padding) * -1);
  background: var(--color-light-green);
  transform: scale(1.02);
  z-index: 5;
}

.removed .overlay__background {
  background: var(--color-light-red);
  border: 2px solid var(--color-red);
}

.actions {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 20px;
  margin: auto;
}

.overlay:hover .actions {
  visibility: visible;
  opacity: 1;
  transition: visibility .35s linear, opacity .35s;
}

button {
  border: none;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  padding: 5px 10px;
}

button.accept {
  background-color: var(--color-green);
  margin-right: 20px;
}

button.decline {
  background-color: var(--color-red);
}
